.testblue {
    color: blue;
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    overflow-x: hidden;
    background: #fafafa;
    overflow-y: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background: #d92733;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ECF0F1;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #35495d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 220px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.with-margin {
    margin: 15px;
}

.navbar-default {
    border: none;
    height: 75px !important;
    background: rgb(239, 83, 80);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0;
    color: white !important;
}

.breadcrumbs {
    height: 74px;
    padding: 35px 18px;
    margin: 0;
    list-style: none;
    border-radius: 0;
    overflow: hidden;
}

.breadcrumbs span, .breadcrumbs span a {
    text-decoration: none !important;
    font-size: 125% !important;
    color: #23527c !important;
    font-weight: bold !important;
    border: none !important
}

fieldset {
    border: 1px solid #cdcdcd !important;
    margin-bottom: 20px !important;;
    padding: 12px 15px 8px 5px !important;;
    border-radius: 3px !important;;
    background-color: #fff !important;;
}

fieldset legend {
    background-color: #fff !important;
    color: #333 !important;
    width: auto !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
    padding: 0 10px !important;
    border-bottom: none !important;
    font-size: 13px !important;
}

.panel-logged-user {
    position: absolute;
    width: 100%;
    height: 60px;
    font-size: 15px;
    text-align: right;
    padding-top: 10px;
    background-color: #172d44;
    color: #fff;
    bottom: 51px;
}

.user-icons {
    display: inline-block;
    width: 80px;
    float: right;
    text-align: center;
}

.user-circle {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 18px;
    padding-top: 7px;
    background-color: #ECF0F1;
}

.user-logout {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 18px;
    padding-top: 7px;
}

.panel-logged-user a {
    color: #ECF0F1;
}

.user-name, .user-id {
    display: inline-block;
    width: calc(100% - 80px);
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-name {
    color: #ECF0F1;
}

.user-id {
    color: #5A738E;
}

.user-id {
    font-size: .8em
}

.glyphicon-user {
    color: #172d44 !important;
}

thead tr {
    border: 0;
    background: #35495d;
    font-weight: 400;
    color: #fff;
}

.properties-info tr td {
    border: none !important;
}

.YPGrC:before {
    z-index: 10;
}

.popover-content .text-center thead tr {
    background: none !important;
}

.tile_stats_count {
    padding: 10px 10px 10px 20px;
    color: #73879C;
}

.tile_stats_count:first-child:before {
    border-left: 0;
}

.tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

.tile_stats_count .count {
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
}

.poke-element {
    padding-top: 15px;
    cursor: pointer;
}

.poke-element hr {
    margin-bottom: 0px;
}

.content {
}

.NORMAL {
    background: #D7CCC8
}

.FIGHTING {
    background: #C62828;
    color: white;
}

.FLYING {
    background: #B39DDB
}

.POISON {
    background: #8E24AA;
    color: white;
}

.GROUND {
    background: #795548;
    color: white;
}

.ROCK {
    background: #BDBDBD
}

.BUG {
    background: #C6FF00
}

.GHOST {
    background: #9575CD;
    color: white;
}

.STEEL {
    background: #CFD8DC
}

.FIRE {
    background: #EF6C00;
    color: white;
}

.WATER {
    background: #03A9F4;
    color: white;
}

.GRASS {
    background: #64DD17
}

.ELECTRIC {
    background: #FFEB3B
}

.PSYCHIC {
    background: #D81B60;
    color: white;
}

.ICE {
    background: #BBDEFB
}

.DRAGON {
    background: #5E35B1;
    color: white;
}

.DARK {
    background: #424242;
    color: white;
}

.FAIRY {
    background: #F8BBD0
}

.container-fluid {
    position: relative;
}

.pokeball-logo {
    margin-top: 4px;
    position: absolute;
    left: 50%;
    margin-left: -32px !important; /* 50% of your logo width */
    display: block;
}

.poke-list {
    overflow-y: scroll;
    padding-bottom: 50px;
    height: calc(100vh - 200px);
    overflow-x: hidden;
}

.poke-filter .col-md-6 {
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.poke-filter div hr {
    margin-bottom: 0;
    border-top: 2px SOLID rgb(239, 83, 80);

}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #E3E3E3 radial-gradient(circle, transparent 1%, #E3E3E3 1%) center/15000%;
}

.ripple:active {
    background-color: #fafafa;
    background-size: 100%;
    transition: background 0s;
}

.modal-header {
    color: #fff;
    background: rgb(239, 83, 80);
}

.pokemon-body {
    display: table;
}

.pokemon-body-header {
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.pokemon-body-col.poke-img {
    flex: 1;
}

.pokemon-body-col.poke-basic-data {
    flex: 2;
}
.pokemon-body-col.poke-basic-data .row div {
    text-align: center;
}
.pokemon-body-col.poke-basic-data .row div:first-child {
    border-right: 2px solid #eee;
}
.pokemon-body-col.poke-basic-data .row:nth-child(2) div p{
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word!important;
    color: #555;
    margin-top: 10px;
}
.pokemon-body .row:nth-child(2) hr{
    margin-left: 100px;
    margin-right: 100px;
    border-width: 2px;
    margin-bottom: 0;
}

ul.nav-tabs {
    text-align: center;
    border: none;
}
ul.nav-tabs li {
    float: none;
    display: inline-block;
    margin-top: -2px;
}
ul.nav-tabs li a{
    background: none;
    color: #aaa;
    background: none;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    border-bottom-color: #eee;
    border-color: #eee;
    border-width: 2px;
}

ul.nav-tabs li.active a{
    background: none!important;
    color: #fff!important;
    background: rgb(239, 83, 80)!important;
    border-radius: 0px 0px 5px 5px!important;
    border-top: none!important;
    border-bottom-color: rgb(239, 83, 80)!important;
    border-color: rgb(239, 83, 80)!important;
    border-width: 2px!important;
}
